$gray-100: #F7FAFC;
$gray-200: #EDF2F7;
$gray-300: rgba(226, 232, 240, 0.84);
$gray-400: #CBD5E0;
$gray-500: #A0AEC0;
$gray-600: #718096;
$gray-700: #4A5568;

$green-500: #48BB78;

$yellow-500: #ECC94B;

$red-300: #FCA5A5;
$red-500: #F56565;
$red-600: #E53E3E;
$red-800: #991B1B;

$blue-300: #90CDF4;
$blue-400: #60A5FA;
$blue-500: #3B82F6;
$blue-600: #2563EB;

$white: #FFF;
$black: #000;
$gold: #D4AF37;
$cta-button: #F7C948;
$logo-color: #3299D1;
