/**
 * All of the CSS for your admin-specific functionality should be included in this file.
 *
 * The file is enqueued from inc/admin/class-admin.php.
 */
body > img{
    position: absolute;
    z-index: 1000001;
}
 
 

.wptb-admin-container {
    background: #fff;
    color: #444;
    z-index: 100099;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    min-width: 0; 
    margin: 0 !important;
    overflow-y: auto;
}

.wptb-container {
    top: 89px;
    position: relative;
}

.wptb-container * {
    box-sizing: border-box;
}


/**
* Header Section
*/

.wptb-header {
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    position: fixed;
    z-index: 99999;
}

.wptb-logo {
    padding-left: 30px;
}

.wptb-right {
    top: 0;
    right: 0;
    position: absolute;
}

.wptb-save {
    display: inline-block;
    margin-right: 25px;
}

.wptb-save-btn {
    background: #3B7EC0;
    color: white;
    padding: 16px;
    font-size: 16px;
    text-decoration: none;
}

.wptb-save-btn:hover {
    color: white;
}

.wptb-close {
    background-color: #fff;
    border-left: 1px solid #d3d3d3;
    display: inline-block;
    padding: 30px 26px 28px 26px;
}

.wptb-close:hover {
    background: #e4e4e4;
}

.wptb-close a {
    color: #909090;
    text-decoration: none;
}


/**
* Left Panel
*/

.wptb-left-panel {
    box-sizing: border-box;
    left: 0;
    height: 100%;
    position: fixed;
    width: 310px;
    z-index: 9999;
    border-right: 1px solid #ccc;
    background-color: #f0f3f3;
    display: flex;
    flex-direction: column;
}

.wptb-left-scroll-panel {
    overflow: auto;
    height: calc( 100% - 89px);
}

.wptb-panel-left {
    position: relative;
    height: 100%;
}


/**
* Settings Section
*/

.wptb-settings-section p {
    font-size: 16px;
    margin: 0 0 10px 0;
}

.wptb-input-px {
    right: 48px;
    position: absolute;
    margin-top: 7px;
}

.wptb-settings-dropdown {
    font-size: 16px;
    padding: 16px 0 16px 20px;
    position: relative;
    background-color: #fff;
    color: #186cba;
    border-top: .5px solid #ccc;
    border-bottom: .5px solid #ccc;
}

.wptb-settings-items,
.wptb-cell-management {
    margin: 16px;
    opacity: 0;
    transition: 1s 0s ease;
}

.wptb-cell-management{
    display: none;
}

.wptb-settings-items.visible,
#wptb-inner-border-settings.visible,
.wptb-cell-management.visible {
    display: block !important;
    opacity: 1;
}

.wptb-settings-row {
    box-sizing: border-box !important;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

.wptb-settings-middle-xs {
    align-items: center;
}

.wptb-settings-col-xs-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
}

.wptb-settings-col-xs-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
}

.wptb-number-input {
    max-width: 70px;
    width: 100%;
    margin-left: 10px;
    margin-top: 3px;
}

input[type=range]::-moz-focus-inner {
    border: 0;
}

input[type=range]::-moz-focus-outer {
    border: none;
    outline: none;
}

input[type=range]:focus {
    outline: 0;
}

input[type="range"] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 8px;
    margin: 0;
    border: none;
    padding: 1px 2px;
    border-radius: 14px;
    background: #cccccc;
    outline: none;
    /* no focus outline */
}

input[type="range"]::-moz-range-track {
    border: inherit;
    background: #cccccc;
}

input[type="range"]::-ms-track {
    border: inherit;
    color: transparent;
    /* don't drawn vertical reference line */
    background: #cccccc;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background: #cccccc;
}

input[type="range"]::-ms-tooltip {
    display: none;
}

input[type=range]::-webkit-slider-thumb:before {
    content: "";
    position: absolute;
    left: -3000px;
    right: 100%;
    top: 50%;
    height: 6px;
    padding: 0;
    background: #1d9b2a;
    transform: translate(0, -50%);
}

input[type=range]::-moz-range-progress {
    background-color: #3B7EC0;
    height: 6px;
}


/* thumb */

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #3B7EC0;
    border-radius: 50%;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
    /* android <= 2.2 */
    background-image: -webkit-linear-gradient(top, #ffffff 0, #ffffff 100%);
    /* older mobile safari and android > 2.2 */
    ;
    background-image: linear-gradient(to bottom, #ffffff 0, #ffffff 100%);
    /* W3C */
}

input[type="range"]::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border: 1px solid #3B7EC0;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #ffffff 0, #ffffff 100%);
    /* W3C */
}

input[type="range"]::-ms-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #3B7EC0;
    background-image: linear-gradient(to bottom, #ffffff 0, #ffffff 100%);
    /* W3C */
}

.wptb-inner-border {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

.wptb-inner-border input {
    display: none;
}

.wptb-inner-border input:checked+i::after {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}

.wptb-inner-border input:checked+i {
    background: #3B7EC0;
}

.wptb-inner-border i {
    float: right;
    padding: 2px;
    width: 40px;
    height: 20px;
    border-radius: 13px;
    vertical-align: middle;
    transition: .25s .09s;
    position: relative;
    background: #d8d9db;
    box-sizing: initial;
}

.wptb-inner-border i::after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 2px;
    transition: .25s;
}


/**
* Element Section
*/

.wptb-elements-section {
    height: auto;
}

.wptb-tabs {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #ffffff;
    border-bottom: .5px solid #ccc;
    max-width: 349px;
    z-index: 10;
}

ul.wptb-tabs {
    list-style: none;
}

.wptb-tabs li {
    float: left;
    width: 49.3%;
    margin: 0;
}

.wptb-tabs li:last-of-type {
    float: right;
}

.wptb-tabs li a {
    display: block;
    text-align: center;
    padding: 18px 10px;
    font-size: 16px;
    color: #186cba;
    text-decoration: none;
}

.wptb-tabs li a:hover {
    color: #186cba;
    text-decoration: none;
}

.wptb-tabs li a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wptb-tabs li .active,
.wptb-tabs li .active:hover {
    color: #186cba;
}

.wptb-tabs #add-elements .active {
    background: #fff;
}

.wptb-tabs #element-options .active {
    background: #fff;
}


/**
* Tabs Content
*/

.wptb-tab-content {
    padding: 0;
}


/**
* Elements
*/

.wptb-elements-container {
    width: 100%;
    max-height: inherit;
    display: table;
    padding: 0 0 60px 0;
}

#element-options-group {
    margin-top: 54px;
}

.wptb-element {
    background: #fff;
    color: #000;
    font-size: 15px;
     
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: all .25s;
}

.wptb-element p {
    margin: 0;
    font-size: 15px;
}

.wptb-element:hover {
    box-shadow: 0px 1px 2px 0.5px #cececc;
}

.left {
    width: 47.5%;
    float: left;
    margin: 6px 0 -4px 6px;
}

.right {
    width: 47.5%;
    float: right;
    margin: 6px 5px -4px 0;
}


/**
* Builder Panel
*/

.wptb-builder-panel {
    left: 300px;
    right: 0;
    position: absolute;
    overflow-y: auto;
}


/**
* Table name Setup
*/

.wptb-name-setup {
    border-bottom: 1px solid #d6d6d6;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.wptb-name-setup span {
    display: inline-block;
    font-size: 24px;
    height: 90px;
    line-height: 90px;
    padding: 0 30px;
}

#wptb-setup-name {
    margin: 17px 0 18px 18px;
    height: 55px;
    box-shadow: none;
    border: 1px solid #d6d6d6;
    font-size: 18px;
    width: 420px;
    padding: 0 20px;
}


/**
*
*/

.wptb-table-setup {
    display: flex;
    justify-content: center;
}


/**
* Table
*/

table.wptb-table {
    border-collapse: collapse
}

.wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 960px;
}

.wptb-table {
    margin: 20px 0 60px 0;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
}

@media screen and (max-width: 580px) {
    .wptb-table {
        display: block;
    }
}

.wptb-row {
    display: table-row;
    background: #bebebe;
}

.wptb-row:nth-of-type(odd) {
    background: #bebebe;
}

.wptb-row.wptb-table-header {
    font-weight: 900;
    color: #ffffff;
    background: #ea6153;
}

.wptb-row.green {
    background: #27ae60;
}

.wptb-row.blue {
    background: #2980b9;
}

@media screen and (max-width: 580px) {
    .wptb-row {
        padding: 14px 0 7px;
        display: block;
    }
    .wptb-row.wptb-table-header {
        padding: 0;
        height: 6px;
    }
    .wptb-row.wptb-table-header .wptb-cell {
        display: none;
    }
    .wptb-row .wptb-cell {
        margin-bottom: 10px;
    }
    .wptb-row .wptb-cell:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }
}

.wptb-cell {
    padding: 12px 12px;
    display: table-wptb-cell;
}

@media screen and (max-width: 580px) {
    .wptb-cell {
        padding: 2px 16px;
        display: block;
    }
}

.wptb-preview-table {
    table-layout: fixed;
    font-size: 15px;
    margin-top: 70px;
    max-width: 880px;
    width: 100%;
    display: table;
    border-collapse: collapse;
}

.wptb-preview-table p {
    margin: 0;
    font-size: 15px;
}

.wptb-preview-table ul {
    list-style-type: disc;
    margin-left: 15px;
}

.wptb-preview-table tr {
    display: table-row;
    background: #fcfcfc;
}

.wptb-preview-table tr:nth-of-type(odd) {
    background: #eeeeee;
}

.wptb-state-dragging td{
    cursor: all-scroll;
}

.wptb-preview-table td {
    padding: 15px;
}

.wptb-preview-table .wptb-row td.wptb-highlighted,
.wptb-state-dragging td:hover{
    border: 1px solid lightgreen !important;
}

.wptb-preview-table .wptb-row.highlighted-row{
    background-color: hsla(210, 53%, 49%, 0.34);
    border: 1px solid pink;
}

.wptb-preview-table .wptb-row td.highlighted-row-first{
    background-color: hsla(210, 53%, 49%, 0.34);
    border-bottom: 1px solid pink;
    border-left: 1px solid pink;
    border-right: inherit;
    border-top: 1px solid pink;
}

.wptb-preview-table .wptb-row td.highlighted-row-inner{
    background-color: hsla(210, 53%, 49%, 0.34);
    border-bottom: 1px solid pink;
    border-left: inherit;
    border-right: inherit;
    border-top: 1px solid pink;
}

.wptb-preview-table .wptb-row td.highlighted-row-last{
    background-color: hsla(210, 53%, 49%, 0.34);
    border-bottom: 1px solid pink;
    border-left: inherit;
    border-right: 1px solid pink;
    border-top: 1px solid pink;
}

.wptb-preview-table .wptb-row td.highlighted-column-first{
    background-color: hsla(210, 53%, 49%, 0.34);
    border-bottom: inherit;
    border-left: 1px solid pink;
    border-right: 1px solid pink;
    border-top: 1px solid pink;
}

.wptb-preview-table .wptb-row td.highlighted-column-inner{
    background-color: hsla(210, 53%, 49%, 0.34);
    border-bottom: inherit;
    border-left: 1px solid pink;
    border-right: 1px solid pink;
    border-top: inherit;
}

.wptb-preview-table .wptb-row td.highlighted-column-last{
    background-color: hsla(210, 53%, 49%, 0.34);
    border-bottom: 1px solid pink;
    border-left: 1px solid pink;
    border-right: 1px solid pink;
    border-top: inherit;
}

.wptb-row td:empty::before {
    content: 'Cell';
    display: block;
    font-weight: normal;
    font-size: 80%;
    text-align: center;
    color: #969fa6;
}

.wptb-row td:empty {
    border: 1px dashed #969fa6;
}

.wptb-table-head td:empty::before {
    content: 'Header';
}


/*
** Button Style
*/

.wptb-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wptb-button {
    padding: 16px;
    background: #329d3f;
    color: #ffffff;
}

.wptb-button:hover {
    color: #ffffff;
}


/**
* Table Generator
*/

.wptb-table-generator {
    text-align: center;
    margin: 60px auto 20px auto;
}

.wptb-table-generator input {
    margin: 0;
}

.wptb-generator-btn {
    width: 92%;
    padding: 15px;
    background: #3B7EC0;
    color: white;
    cursor: pointer;
}

.wptb-input-number {
    width: 80px;
    padding: 0 12px;
    vertical-align: top;
    text-align: center;
    outline: none;
}

.wptb-input-number,
.wptb-input-number-decrement,
.wptb-input-number-increment {
    border: 1px solid #ccc;
    height: 40px;
}

.wptb-input-number-decrement,
.wptb-input-number-increment {
    display: inline-block;
    width: 30px;
    line-height: 38px;
    background: #f1f1f1;
    color: #444;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.wptb-input-number-decrement:active,
.wptb-input-number-increment:active {
    background: #ddd;
}

.wptb-input-number-decrement {
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.wptb-input-number-increment {
    border-left: none;
    border-radius: 0 4px 4px 0;
}

.wptb-allow-drop {
    background: #b5e0d7;
}

#wpcd_fixed_toolbar {
    min-height: 55px;
    text-align: center;
}


/*
 ** Button Size Selector Style
 */

.wptb-btn-size-btn {
    padding: 8px 15px;
    margin: 0;
    vertical-align: middle;
    border: solid 1px #ccc;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
}

.wptb-btn-size-switcher {
    background: linear-gradient(to bottom, white, #eeeeee);
    display: table-cell;
    border-right: none;
    border-radius: 0;
    color: #433f33;
}

.wptb-btn-size-switcher:first-child {
    border-radius: 4px 0 0 4px;
}

.wptb-btn-size-switcher:last-child {
    border-radius: 0 4px 4px 0;
    border-right: solid 1px #ccc;
}

.wptb-btn-size-switcher:hover {
    background: #fff;
}

.wptb-btn-size-switcher:active {
    box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.wptb-btn-size-switcher.selected {
    background: #fff;
    box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    cursor: default;
}


/* customize tinymce Editor */

.mce-tinymce.mce-tinymce-inline.mce-container.mce-panel {
    left: 50% !important;
    transform: translate(-50%, 0) !important;
    border: 0px !important;
}

.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in {
    z-index: 100100 !important;
}

.mce-container.mce-panel.mce-floatpanel.mce-menu.mce-animate.mce-fixed.mce-menu-align.mce-in {
    z-index: 100101 !important;
}

.mce-edit-focus {
    outline: none !important;
}

.mce-btn button {
    padding: 14px 18px !important;
}

.mce-ico {
    font-size: 20px !important;
}

.mce-content-body [data-mce-selected="inline-boundary"] {
    background: transparent !important;
}

.wptb-droppable.wptb-cell ul,
.wptb-droppable.wptb-cell ol {
    border: 1px solid transparent;
    margin: 0;
    padding: 1em 0 0 0;
    width: 100%;
}

.wptb-droppable.wptb-cell ul article,
.wptb-droppable.wptb-cell ol article {
    align-items: flex-start;
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.wptb-droppable.wptb-cell ul article li.wptb-bullet {
    display: list-item;
    height: 0;
    left: 28px;
    list-style-type: decimal;
    margin-bottom: 0;
    position: absolute;
    top: 3px;
    width: 0;
}

.wptb-droppable.wptb-cell ul article .wptb-list-item-content,
.wptb-droppable.wptb-cell ul article .wptb-list-item-style-dot {
    border: 1px solid transparent;
}

.wptb-droppable.wptb-cell article .wptb-list-item-content:hover,
.wptb-droppable.wptb-cell article .wptb-list-item-style-dot:hover {
    cursor: pointer;
}

.wptb-droppable.wptb-cell article .wptb-list-item-content {
    width: calc(100% - 30px);
    min-height: 30px;
}

.wptb-droppable.wptb-cell article .wptb-list-item-style-dot {
    height: 30px;
    width: 30px;
}

.wptb-droppable.wptb-cell .wptb-directlyhovered {
    border: 1px solid #1ea5e5 !important;
    position: relative;
}

.wptb-actions {
    align-items: center;
    background-color: #1ea5e5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    color: white;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    line-height: 1em;
    padding: 0px 5px;
    position: absolute;
    right: 0;
    top: -15px;
    height: 15px;
    font-size: 9pt;
}

.wptb-actions .dashicons.dashicons-admin-page.duplicate-action {
    font-size: 10pt;
    margin: 0em 0.05em 0 0.1em;
    width: 15px;
    height: 15px;
}

.wptb-actions .dashicons.dashicons-trash.delete-action {
    font-size: 10pt;
    margin: 0em 0.1em 0 0.05em;
    width: 15px;
    height: 15px;
}

.wptb-cell-management .wptb-button{
    background: #3e99ca;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    padding: .4em 0;
    width: 100%;
    box-shadow: 2px 1px 0px 0px rgba(13, 85, 126, 0.71);
}

.wptb-cell-management .wptb-button[disabled]{
    display: none;
}

.wptb-space-between{ 
    min-height: 20px;
    width: 100%;
}

.wptb-insert-here{
    background-color: lightgreen;
    border: 1px solid lightgreen;  
    display: none;
    margin: 2px 5%;
    padding: 0.5em 0;
    position: relative;
    text-align: center;
    width: 90%;
}

.wptb-insert-here span{
    background: lightgreen;
    color: white; 
}

.wptb-draggable{
    border:none;
}

.wptb-actions .dashicons.dashicons-move.move-action{
    font-size: 17px !important;
}

.wptb-item-dragging {
    background-color: purple;
    min-height: 30px;
    min-width: 30px;
    position: absolute;
    transition: all 0.2s ease;
    transition-property: left, top;
    width: auto;
    z-index: 110000;
}


.wptb-range-input{
        height: 20px;
        position: relative;
}
        
.wptb-range-input .slider{
            background-color: white;
            border: 1px solid #4b88c4;
            border-radius: 200px;
            box-sizing: border-box;
            height: 20px;
            left: 2px;
            position: absolute;
            top: 0;
            width: 20px;
            z-index: 10;
}

.wptb-range-input .rail{
            background: #cccccc;
            border-radius: 14px;
            bottom: 6px;
            height: 8px;
            position: absolute;
            width: 100%;
            z-index: 1;
}

.wptb-table-head td.wptb-drop-here-empty:empty::before,
.wptb-row td.wptb-drop-here-empty:empty::before{
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    box-sizing: border-box;
    color: white;
    content: 'drop here';
    display: block;
    font-size: 1em;
    font-variant: small-caps;
    padding: 0.2em 0.4em;
    text-align: center;
    width:100%;
}