@import '../base/colors';
@import '../base/common';

$table-listing-header-height: 50px;

.wptb-table-fixer-settings {
  @extend %height-full;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content) 1fr minmax(min-content, max-content);
  grid-template-areas: 'search' 'listing' 'disclaimer';
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-gap: 10px;
  min-width: 50%;

  .wptb-table-fixer-table-filter {
    grid-area: search;
  }

  .wptb-table-fixer-disclaimer {
    grid-area: disclaimer;
    max-width: 50%;
  }

  .wptb-table-fixer-listing {
    @extend %height-full;
    grid-area: listing;
    border: 1px solid $gray-400;
    border-radius: 3px;
    min-width: 50%;
    overflow: auto;

    .wptb-menu-list-table {
      .wptb-list-table-row {
        @extend %default-transition;

        td:first-child {
          @extend %flex-center-all;
        }

        &[data-selected="true"] {
          background-color: $logo-color;
          color: $white;

          & .wptb-data-listing-row-search-clause {
            color: $white !important;
          }
        }
      }
    }
  }
}

.wptb-fix-summary-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 200px;
  overflow: auto;

  .wptb-fix-summary-list {

    .wptb-fix-summary-column {
      @extend %flex-center-all;
      background-color: $gray-300;
      padding: 5px;
      font-weight: bold;

      &[data-fix-status="true"] {
        color: $green-500;
      }

      &[data-fix-status="false"] {
        color: $red-500;
      }

      .icon-wrapper-parent {
        @extend %flex-center-all;
        width: 100%;
        height: 100%;

        .icon-wrapper {
          @extend %flex-center-all;
          width: 15px;
          height: 15px;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
