/**
 * All of the CSS for your public-facing functionality should be included in this file.
 *
 * The file is enqueued from inc/frontend/class-frontend.php.
 */
.wptb-table-container {
    /*max-width: 850px;*/
    overflow: auto;
    position: relative;
    width: 100%;
    min-width: 100%;
}

.wptb-table-container table {
    table-layout: fixed;
    font-size: 15px;
    width: auto;
    display: table;
    border-collapse: collapse;
    /*min-width: 850px;*/
}

.wptb-table-container-matrix table {
    margin: auto;
}

.wptb-table-container-matrix.wptb-matrix-hide {
    visibility: visible;
    opacity: 0;
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

table.wptb-preview-table-mobile {
    width: 100%;
}

.wptb-preview-table-mobile.wptb-mobile-hide {
    display: none;
}

.wptb-table-container table tr:nth-of-type(2n+1) {
    background-color: #eeeeee;
}

.wptb-table-container table.wptb-preview-table-mobile tr:nth-of-type(2n+1), 
.wptb-table-container table.wptb-preview-table-mobile tr:nth-of-type(2n+1) {
    background-color: inherit;
}

.wptb-table-container table.wptb-preview-table-mobile tr td:nth-of-type(2n+1), 
.wptb-table-container table.wptb-preview-table-mobile tr td:nth-of-type(2n+1) {
    background-color: #eeeeee;
}

.wptb-table-container table td {
    /*width: 100px;*/
    box-sizing: content-box;
    padding: 15px;
    background-color: inherit;
}

.wptb-table-container-matrix.wptb-matrix-hide .wptb-preview-table td {
    width: auto !important;
}

.wptb-table-container table td p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0 !important;
    word-wrap: break-word;
    word-break: break-all;
}

.wptb-table-container table tr td ul {
    margin: 0px !important;
    padding: 0px !important;
}

.wptb-table-container table tr td ul li p {
    font-size: 15px;
}

.wptb-row td:empty::before {
    content: " ";
    display: block;
    min-height: 19px;
    box-sizing: border-box;
    border: none;
}

.wptb-ph-element {
    position: relative;
    border: 1px solid #fff0;
    margin-top: 15px;
    margin-bottom: 15px;
}


.wptb-image-wrapper img {
    width: 100%;
}

.wptb-text-container > div, .wptb-text-container > div > p {
    font-size: inherit;
    color: inherit;
}

.wptb-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wptb-button-container .wptb-button-wrapper a {
    text-decoration: none !important;
}

.wptb-button-wrapper>a {
    max-width: 100%;
}

.wptb-size-S .wptb-button {
    border-radius: .2rem;
    padding: .35rem .6rem;
    max-width: 100%;
}

.wptb-size-S .wptb-button p {
    font-size: .875rem;
    line-height: 1.5;
}

.wptb-size-M .wptb-button {
    border-radius: .3rem;
    padding: .475rem .85rem;
    max-width: 100%;
}

.wptb-size-M .wptb-button p {
    font-size: 1.125rem;
    line-height: 1.5;
}

.wptb-size-L .wptb-button {
    border-radius: .3rem;
    padding: .6rem 1.2rem;
    max-width: 100%;
}

.wptb-size-L .wptb-button p {
    font-size: inherit;
    line-height: 1.5;
}

.wptb-size-XL .wptb-button {
    border-radius: .4rem;
    padding: .8rem 1.35rem;
    max-width: 100%;
}

.wptb-size-XL .wptb-button p {
    font-size: 1.35rem;
    line-height: 1.5;
}

.wptb-table img {
    max-width: 100%;
}

.wptb-button {
    background: #329d3f;
    color: #ffffff;
}

.wptb-ph-element .wptb-button p {
    color: inherit;
}

[class*=wptb-element-text-] p {
    color: inherit !important;
    font-size: inherit !important;
}

.wptb-list-item-container.wptb-ph-element ul li {
    list-style: none;
    margin: 0px 0px 10px;
}

.wptb-list-item-container li p {
    word-wrap: break-word;
    line-height: 20px;
}

.wptb-list-item-container li p::before {
    content: attr(data-list-style-type-index);
    display: inline-block;
    line-height: 20px;
    padding: 0 5px 0 0;
    padding-right: 5px;
    font-size: 15px;
    font-family: verdana, sans-serif;
}

.wptb-list-item-container li p::before {
    padding-right: 10px;
}

.wptb-list-item-container li p.wptb-list-style-type-disc::before {
    content: '\25CF';
}

.wptb-list-item-container li p.wptb-list-style-type-circle::before {
    content: '\25CB';
}

.wptb-list-item-container li p.wptb-list-style-type-square::before {
    content: '\25A0';
}

.wptb-list-item-container li p.wptb-list-style-type-none::before {
    content: '';
    padding-right: 0px;
}

.wptb-column-title-mobile-container {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
}

.wptb-column-title-mobile-container.wptb-column-title-mobile-container-clone {
    position: relative;
    width: 50%;
    right: auto;
    left: auto;
    top: auto;
    bottom: auto;
}
.wptb-column-title-mobile-container .wptb-column-title-mobile {
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.wptb-table-container.wptb-section-small table {
    min-width: auto;
}

.wptb-cell img {
    max-width: 100%;
}

.wptb-cell ul {
    padding: 0;
}

.wptb-table-container.wptb-section-small table tr td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    min-height: 60px;
    overflow: hidden;
}

.wptb-table-container.wptb-section-small table.wptb-table-preview-head td .wptb-column-title-mobile-container {
    display: block;
}

.wptb-table-container table.wptb-table-preview-head td .wptb-column-title-mobile-container .wptb-column-title-mobile::before {
    content: attr(data-wptb-title-column);
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    padding: inherit;
}

.wptb-table-container.wptb-section-small table.wptb-table-preview-head td.wptb-column-title-mobile-not-elements {
    padding: 0px !important;
}

/*.wptb-column-title-mobile-not-elements .wptb-column-title-mobile-container  {
    position: relative;
    width: 50%;
}*/

/*.wptb-column-title-mobile-not-elements .wptb-column-title-mobile-container .wptb-column-title-mobile  {
    display: block;
    min-height: 60px;
}*/

/*.wptb-table-container table.wptb-table-preview-head td.wptb-column-title-mobile-not-elements 
.wptb-column-title-mobile-container .wptb-column-title-mobile::before {
    display: block;
    width: 100%;
    padding: 0px;
}*/

.wptb-table-container table.wptb-table-preview-head td .wptb-column-title-mobile-container.wptb-column-title-mobile-not-elements .wptb-column-title-mobile::before {
    padding-left: 0px;
}

.wptb-table-container.wptb-section-small table.wptb-table-preview-head td .wptb-ph-element {
    display: inline-block;
    width: 50%;
    margin-left: 50%;
    padding-left: inherit;
    box-sizing: border-box;
}

.wptb-table-container.wptb-section-small table td {
    border-width: 0 1px 1px 1px !important;
}

.wptb-table-container.wptb-section-small table tr td:nth-of-type(1) {
    border-top-width: 3px !important;
}

.wptb-table-container.wptb-section-small table tr td:nth-last-of-type(1) {
    border-top-width: 0px !important;
}

.wptb-table-container.wptb-section-small table tr.wptb-table-head {
    display: none;
}

@media only screen and (max-device-width: 1024px) {
    .wptb-table-container table tr td {
        /*width: 110px;*/
    }
}

@media only screen and (max-width: 600px) {
    .wptb-table-container table {
        min-width: auto;
    }
    .wptb-table-container table.wptb-table-preview-head.wptb-table-preview-static-indic tr td {
        display: block;
        width: 100% !important;
        box-sizing: border-box;
        position: relative;
        min-height: 60px;
        overflow: hidden;
    }
    .wptb-table-container table.wptb-table-preview-head.wptb-table-preview-static-indic td.wptb-column-title-mobile-not-elements {
        padding: 0px !important;
    }
    .wptb-table-container table.wptb-table-preview-head.wptb-table-preview-static-indic td .wptb-column-title-mobile-container {
        display: block;
    }
    .wptb-table-container table.wptb-table-preview-head.wptb-table-preview-static-indic td .wptb-ph-element {
        display: inline-block;
        width: 50%;
        margin-left: 50%;
        padding-left: inherit;
    }
    .wptb-table-container table.wptb-table-preview-head.wptb-table-preview-static-indic td {
        border-width: 0 1px 1px 1px !important;
    }
    .wptb-table-container table.wptb-table-preview-head.wptb-table-preview-static-indic tr td:nth-of-type(1) {
        border-top-width: 1px !important;
    }
    .wptb-table-container table.wptb-table-preview-head.wptb-table-preview-static-indic tr.wptb-table-head {
        display: none;
    }
}
