/**
 * All of the CSS for your public-facing functionality should be included in this file.
 *
 * The file is enqueued from inc/frontend/class-frontend.php.
 */

.wptb-table-container {
    max-width: 1600px;
    overflow: auto;
}

.wptb-table-container table {
    table-layout: fixed;
    font-size: 15px;
    width: 100%;
    display: table;
    border-collapse: collapse;
}

.wptb-table-container table tr:nth-of-type(2n+1) {
    background-color: #eeeeee;
}

.wptb-table-container table td {
    width: 100px;
    box-sizing: content-box;
    padding: 15px;
}

.wptb-table-container p {
    margin: 0;
}

.wptb-table-container ul {
    margin: 0;
}

.wptb-row td:empty::before {
    content: " ";
    display: block;
    min-height: 19px;
    box-sizing: border-box;
    border: none;
}

.wptb-ph-element {
    position: relative;
    border: 1px solid #fff0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.wptb-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wptb-size-S .wptb-button {
    border-radius: .2rem;
    padding: .35rem .6rem;
    max-width: 100%;
}

.wptb-size-S .wptb-button p {
    font-size: .875rem;
    line-height: 1.5;
}

.wptb-size-M .wptb-button {
    border-radius: .3rem;
    padding: .475rem .85rem;
    max-width: 100%;
}

.wptb-size-M .wptb-button p {
    font-size: 1.125rem;
    line-height: 1.5;
}

.wptb-size-L .wptb-button {
    border-radius: .3rem;
    padding: .6rem 1.2rem;
    max-width: 100%;
}

.wptb-size-L .wptb-button p {
    font-size: 1.25rem;
    line-height: 1.5;
}

.wptb-size-XL .wptb-button {
    border-radius: .4rem;
    padding: .8rem 1.35rem;
    max-width: 100%;
}

.wptb-size-XL .wptb-button p {
    font-size: 1.35rem;
    line-height: 1.5;
}

.wptb-table img {
    max-width: 100%;
}

.wptb-button {
    background: #329d3f;
    color: #ffffff;
}

.cneter-aligned {
    display: block;
    margin: 0 auto;
}

.left-aligned {
    float: left;
}

.right-aligned {
    float: right;
}

[class*=wptb-element-text-] p {
    color: inherit !important;
    font-size: inherit !important;
}

.flex-start-aligned-list li {
    text-align: left;
}

.flex-end-aligned-list {
    float: right;
}

.center-aligned-list li {
    list-style-position: inside;
    text-align: center;
}

.center-aligned-list li p {
    display: inline-block;
}

.wptb-list-item-container.wptb-ph-element ul li {
    list-style: none;
    margin: 10px;
}

.wptb-list-item-container li p {
    word-wrap: break-word;
    line-height: 20px;
}

.wptb-list-item-container li p::before {
    content: attr(data-list-style-type-index);
    display: inline-block;
    line-height: 20px;
    padding: 0 5px 0 0;
    padding-right: 5px;
    font-size: 15px;
    font-family: verdana, sans-serif;
}

.wptb-list-item-container li p.list-style-type-disc::before {
    content: '\25CF';
    padding-right: 10px;
}

.wptb-list-item-container li p.list-style-type-circle::before {
    content: '\25CB';
    padding-right: 10px;
}

.wptb-list-item-container li p.list-style-type-square::before {
    content: '\25A0';
    padding-right: 10px;
}

.column-title-mobile {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
}

.wptb-table-container.wptb-section-small table tr td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    min-height: 40px;
}

.wptb-table-container.wptb-section-small table.wptb-table-preview-head td .column-title-mobile {
    display: table;
}

.wptb-table-container.wptb-section-small table.wptb-table-preview-head td .column-title-mobile::before {
    content: attr(data-title-column);
    display: table-cell;
    width: 45%;
    padding-right: 5%;
    font-weight: bold;
    vertical-align: middle;
}

.wptb-table-container.wptb-section-small table.wptb-table-preview-head td .wptb-ph-element {
    display: inline-block;
    width: 50%;
    margin-left: 50%;
}

.wptb-table-container.wptb-section-small table td {
    border-width: 0 1px 1px 1px !important;
}

.wptb-table-container.wptb-section-small table tr td:nth-of-type(1) {
    border-top-width: 1px !important;
}

.wptb-table-container.wptb-section-small table tr.wptb-table-head {
    display: none;
}

@media only screen and (max-device-width: 1024px) {
    .wptb-table-container table tr td {
        width: 110px;
    }
}

@media only screen and (max-width: 600px) {
    .wptb-table-container table tr td {
        display: block;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        min-height: 40px;
    }
    .wptb-table-container table.wptb-table-preview-head td .column-title-mobile {
        display: table;
    }
    .wptb-table-container table.wptb-table-preview-head td .column-title-mobile::before {
        content: attr(data-title-column);
        display: table-cell;
        width: 45%;
        padding-right: 5%;
        font-weight: bold;
        vertical-align: middle;
    }
    .wptb-table-container table.wptb-table-preview-head td .wptb-ph-element {
        display: inline-block;
        width: 50%;
        margin-left: 50%;
    }
    .wptb-table-container table td {
        border-width: 0 1px 1px 1px !important;
    }
    .wptb-table-container table tr td:nth-of-type(1) {
        border-top-width: 1px !important;
    }
    .wptb-table-container table tr.wptb-table-head {
        display: none;
    }
}